body{
    background-color: black;
    margin: 0;
}

#star-wars{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 80px;
    color: transparent; 
  -webkit-text-stroke: 4px yellow; 
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#charSection {
    border: 4px solid yellow;
    border-radius: 10px;
    height: 300px;
    width: 600px;
    margin-bottom: 50px;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

.nameChar {
    font-size: 25px;
}

.loadingDiv{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}

button {
    background-color: white;
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.starry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 200vh; /* Twice the viewport height for scrolling */
  }

  .star {
    position: absolute;
    background: white;
    border-radius: 50%; /* Makes the stars round */
    opacity: 0.7; /* Base opacity */
    animation: shine 3s infinite ease-in-out; /* Shine effect */
  }

  @keyframes shine {
    0%, 100% {
      opacity: 0.3; /* Dimmest state */
      transform: scale(1); /* Original size */
    }
    50% {
      opacity: 1; /* Brightest state */
      transform: scale(1.5); /* Slightly larger for shining effect */
    }
  }