body{
    background-color: rgba(247, 157, 219, 0.5);
}

#wrap{
    border: black 2px dashed;
    margin: auto;
    width: 85%;
    text-align: center;
    padding: 5px;
}

h1, li{
    font-style: italic;
    
}

h1+p{
    font-size: 0.7rem;
}

h1{
    border-bottom:black 2px dashed ;
    margin: auto;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

li{
    list-style: none;
    text-transform: capitalize;
}

li::first-letter{
    font-weight: bold;
}

.copyright{
    font-size: 0.5rem;
}

0502957860